/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&lt { flavor = "hold-preferred"; };

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        Tri {
            if-layers = <2 1>;
            then-layer = <3>;
        };
    };

    behaviors {
        hrm: home_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MODS";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        lt_repeat: lt_repeat {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_REPEAT";
            bindings = <&mo>, <&key_repeat>;

            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Gamepad {
            bindings = <&tog 4>;
            key-positions = <8 28>;
        };

        toggle_colemak {
            bindings = <&tog 5>;
            key-positions = <0 20>;
        };

        Escape {
            bindings = <&kp ESCAPE>;
            key-positions = <30 35>;
        };

        Permanent_Num {
            bindings = <&tog 2>;
            key-positions = <33 32>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alpha_colemak_dh {
            bindings = <
&kp Q                &kp W            &kp F                &kp P              &kp B                                   &kp J         &kp L               &kp U                 &kp Y             &mt EXCLAMATION MINUS
&hrm LEFT_CONTROL A  &hrm LEFT_ALT R  &hrm LEFT_COMMAND S  &hrm LEFT_SHIFT T  &kp G                                   &kp M         &hrm RIGHT_SHIFT N  &hrm RIGHT_COMMAND E  &hrm RIGHT_ALT I  &hrm RIGHT_CONTROL O
&kp Z                &kp X            &kp C                &kp D              &kp V                                   &kp K         &kp H               &kp COMMA             &kp DOT           &kp GRAVE
                                                           &kp SPACE          &lt 2 TAB  &kp LEFT_SHIFT    &kp ENTER  &lt 1 ESCAPE  &kp BSPC
            >;
        };

        Symbol {
            bindings = <
&kp LA(LS(NUMBER_6))          &kp DOLLAR             &kp PIPE                 &kp LS(NUMBER_2)       &none                                   &none  &none                       &none                   &none                        &none
&hrm LEFT_CONTROL LS(LA(N7))  &hrm LEFT_ALT PERCENT  &hrm LEFT_COMMAND CARET  &hrm LEFT_SHIFT LA(L)  &kp LA(N)                               &none  &hrm RIGHT_SHIFT SEMICOLON  &hrm RIGHT_COMMAND SQT  &hrm RIGHT_ALT LEFT_BRACKET  &hrm RIGHT_CONTROL SLASH
&kp LA(N7)                    &mt LA(N9) LA(N8)      &mt LA(NUMBER_6) LA(N5)  &mt LS(N9) LS(N8)      &none                                   &none  &none                       &none                   &none                        &none
                                                                              &kp SPACE              &lt 2 TAB  &kp LEFT_SHIFT    &kp ENTER  &none  &kp BACKSPACE
            >;

            label = "symbol_layer";
        };

        Numbers_Navigation {
            bindings = <
&kp SLASH             &kp ASTERISK            &kp PLUS                    &kp MINUS                 &kp EQUAL                                  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP        &kp UP_ARROW             &kp K_MUTE            &none
&hrm LEFT_CONTROL N5  &hrm LEFT_ALT NUMBER_4  &hrm LEFT_COMMAND NUMBER_3  &hrm LEFT_SHIFT NUMBER_2  &kp NUMBER_1                               &kp LEFT           &hrm RIGHT_SHIFT LEFT  &hrm RIGHT_COMMAND DOWN  &hrm RIGHT_ALT RIGHT  &kp RIGHT_CONTROL
&kp N0                &kp N9                  &kp N8                      &kp N7                    &kp NUMBER_6                               &kp C_BRI_DN       &kp C_PREV             &kp C_PP                 &kp C_NEXT            &kp C_BRIGHTNESS_INC
                                                                          &kp SPACE                 &none         &kp LEFT_SHIFT    &kp ENTER  &lt 1 ESCAPE       &kp BSPC
            >;

            label = "numb_nav_layer";
        };

        Tri {
            bindings = <
&bootloader   &none  &none  &none  &none                  &kp LA(LC(E))  &kp LA(LC(D))     &kp LA(LC(F))  &kp LA(LC(T))  &kp LA(LC(G))
&bt BT_SEL 0  &none  &none  &none  &none                  &none          &kp LG(LS(N4))    &kp LA(LC(U))  &kp LA(LC(I))  &kp LA(LC(ENTER))
&bt BT_CLR    &none  &none  &none  &none                  &none          &kp LA(LC(LEFT))  &kp LA(LC(J))  &kp LA(LC(K))  &kp LA(LC(RIGHT))
                            &none  &none  &none    &none  &none          &none
            >;

            label = "tri_layer";
        };

        gamepad {
            bindings = <
&kp ESC  &kp Q  &kp W  &kp E      &kp R                      &none  &kp L     &kp UP    &kp R      &none
&kp TAB  &kp A  &kp S  &kp D      &kp F                      &none  &kp LEFT  &kp DOWN  &kp RIGHT  &none
&none    &kp Y  &kp X  &kp C      &none                      &none  &kp S     &none     &kp E      &none
                       &kp LSHFT  &kp SPACE  &none    &kp B  &kp A  &none
            >;
        };

        alpha_qwerty {
            bindings = <
&kp Q                &kp W            &kp E                &kp R              &kp T                               &kp Y        &kp U               &kp I                 &kp O             &kp P
&hrm LEFT_CONTROL A  &hrm LEFT_ALT S  &hrm LEFT_COMMAND D  &hrm LEFT_SHIFT F  &kp G                               &kp H        &hrm RIGHT_SHIFT J  &hrm RIGHT_COMMAND K  &hrm RIGHT_ALT L  &hrm RIGHT_CONTROL SEMICOLON
&kp Z                &kp X            &kp C                &kp V              &kp B                               &kp N        &kp M               &kp COMMA             &kp DOT           &kp SLASH
                                                           &kp SPACE          &lt 2 ESCAPE  &kp TAB    &kp ENTER  &lt 1 ENTER  &kp BSPC
            >;
        };
    };
};
